<h1>Youngest Director</h1> 

<p>The youngest director in our dataset right now is <a href="/directors/<%= @young_dir_info.id %>"> <%= @young_dir_info.name %></a> born on <%= @young_dir_info.dob.strftime("%b %d, %Y") %></p>
